#!/usr/bin/env python3

""" Sample configuration file for the bot. """

# Bot token
TOKEN = ""

# Blacklist of servers (guilds) to ignore.
SERVER_BLACKLIST = [
]

# Whitelist of users to apply to. Ignored if left empty.
USER_IDS = [
]
